.buttonBar {
    margin-bottom: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 10px;
}

h1 {
    color: darkgreen;
}

span { /* for feedback buttons */
    margin-left: 8px;
    margin-right: 8px;
}

.mainContent {
    text-align: center;
}

p {
    font-size: large;
}

.gOOd {
    box-shadow: 3px 3px 5px green;
    font-size: large;
    color: green;
    background-color: darkgray;
}

.Neutral {
    box-shadow: 3px 3px 5px yellow;
    font-size: large;
    color: yellow;
    background-color: darkgray;
}

.baD {
    box-shadow: 3px 3px 5px red;
    font-size: large;
    color: red;
    background-color: darkgray;
}